<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KGM_Personal.Properties.Settings.KGM_Personal_ListConnectionString"
            connectionString="Data Source=LAPTOP-62042VMP;Initial Catalog=KGM_Personal_List;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>